.img-wrapper{
    width: 100%;
    height: 70vh;
    margin: 5% 0;
    cursor: pointer;
    position: relative;
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
    
}

.img-wrapper .img-cover{
    z-index: 2;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding-left: 10%;
    gap: 1em;
    
}
/* .img-wrapper .img-cover .title{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    font-size: 5rem;
    color: var(--text-color);
} */

/* .img-cover .p{
    font-family: "Roboto";
    font-weight: 400;
    color: var(--primary);
    font-size: 1rem;
} */

@media (max-width:450px) {
    .img-wrapper .img-cover{

        padding-left: 0;
        padding: 1rem;
        width: 100%;
        gap: 8%;
    }
}

@media (min-width:451px) and (max-width:756px) {
    .img-wrapper .img-cover{

        padding-left: 0;
        padding: 3rem;
        width: 100%;
        gap: 8%;
    }
}