header p {
    color: var(--primary);
}

header .icon{
    color: var(--highlights);
}
.head-list{
    display: flex;
    flex-direction: row;
 
    
}

.head-container {
  
  padding:1rem ;
}

/* 1. Small mobile: up to 375px */
@media (max-width: 375px) {
  
}

/* 2. Large mobile: 376px - 480px */
@media (min-width: 376px) and (max-width: 480px) {
  
}

/* 3. Tablet: 481px - 768px */
@media (min-width: 481px) and (max-width: 768px) {
  
}

/* 4. Desktop: 769px and above */
@media (min-width: 1100px) {
  .head-container{
    padding: 1rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
