:root{

    --primary:#FFF4E3;
    --secondary:#FBEAD2;
    --text-color:#C1C1C1;
    --highlights:#CCAD64;
    --back:#2C2C2C;
    --background-color:#050505;
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    padding: 0 4px;
}

/* 1. Small mobile: up to 375px */
@media (max-width: 375px) {
  
}

/* 2. Large mobile: 376px - 480px */
@media (min-width: 376px) and (max-width: 480px) {
  
}

/* 3. Tablet: 481px - 768px */
@media (min-width: 481px) and (max-width: 768px) {
  
}

/* 4. Desktop: 769px and above */
@media (min-width: 769px) {
  
}